# Dependencias
node_modules/

# Llaves y Configuración (¡Muy importante para tu JSON de Google Vision!)
.env
.env.local


# Archivos de compilación
.next/
out/
build/
dist/

# Archivos del sistema
.DS_Store
Thumbs.db